#most_recent {
  display: block;
  float: left;
  width: 1024px;
  height: 768px;
  position: relative;
  border-radius: 3px;
  margin-top:2px;
}
#most_recent p{
  color:#F0F1EE;
  text-shadow: #333332 2px 2px 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  margin-bottom: 5px;
  margin-left: 5px;
}
#past_frames img{
  width: 150px;
  height: 150px;
}
#past_frames{
  overflow-y:auto;
  height: 768px;
  width: 320px;
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#past_frames li{
  display: inline-block;
  float: left;
  margin: 2px;
  line-height: 0;
  cursor: pointer;
}
#past_frames a{
  float: right;
  line-height: 0;
}
#wrapper{
  width: 100%;
  margin: 0 auto;
}
img{
  border-radius: 3px;
}
body{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  background-color: #F0F1EE;
  color: #333332;
  margin:0;
}
