{% extends "layout.html" %}
{% block body %}
<div id="wrapper">
  {% if most_recent %}
  <div id="most_recent" style="background:url({{most_recent.file}});">
    <p id="caption">{{most_recent.title}}</p>
  </div>
  {% else %}
  <em>No frames available.</em>
  {% endif%}
  <ul id="past_frames">
    {% for pic in frames %}
    <li><img src="{{pic.file}}" title="{{pic.title}}">
    {% endfor %}
  </ul>
</div>
<script>
  var ul = document.getElementById('past_frames');  // Parent
  ul.addEventListener('click', function(e) {
    var target = e.target; // Clicked element
    if(target.tagName === 'LI' || target.tagName === 'IMG'){
      if (target.tagName === 'LI'){
        target=target.childNodes[0];
      }
      var main_pic = document.getElementById('most_recent');
      main_pic.style.backgroundImage = 'url(\"'+target.src+'")';
      var caption = document.getElementById('caption');
      caption.textContent = target.title;
    }
  });
</script>
{% endblock %}
